// Place all the styles related to the menus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.menu-preview{
  border: #000;
  width:350px;
  height: 400px;
  background-color: #FFF;
  border: 1px solid #000;
  position: relative;

  .bottom{
    position: absolute;
    bottom: 0;
  }

  .dropdown-menu{
    min-width: 0px;
  }

  .add{
    text-align: center;
  }
}
